{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<h1>List of categories</h1>
    <ul>

        {% for category in categories %}
            <li><a href="{{ path('category_showAllArticles', {"name" : category.name }) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Add') }}</button>
    {{ form_end(form) }}
{% endblock %}