{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1>CATEGORY: {{ category.name }}</h1>
    <div>{{ category.articles|length <= 0 ? 'No article' }}</div>
    {% for article in category.articles %}
        <div>
            <h3 style="margin-bottom: 0">ID = {{ article.id }} / {{ article.title }} - Category : {{ article.category.name }}</h3>
            <p style="margin-top: 0">{{ article.content }}</p>
        </div>
    {% endfor %}
{% endblock %}