{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
    <hr>
    <h1>All articles from article's table :</h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - <u>Category</u> : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}

    <a href="{{ path('homepage') }}">
        Back to homepage</a>
    <br><br>

    <a href="{{ path('blog_show', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
{% endblock %}