{% extends 'base.html.twig' %}

{% block title %}- Blog{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {{ form_start(formSearch) }}
    {{ form_widget(formSearch.search, {'attr' : {'style': 'width: 20%'} }) }}
    <button type="submit">Rechercher</button>
    {{ form_end(formSearch) }}

    {% if articles %}
        <h1>ARTICLES</h1>
        <hr>
        <h2 style="margin: 0;">Ajouter un article</h2>
        {{ form_start(formNewArticle) }}
        {{ form_widget(formNewArticle) }}
        <button type="submit" name="btnSearch">Ajouter</button>
        {{ form_end(formNewArticle) }}
        <hr>
        <h2 style="margin: 0;">Liste des articles</h2>
        {% for article in articles %}
            <div>
                <h2 style="margin: 0; padding-bottom: 0;">
                    {{ loop.index }}- <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a><br>
                </h2>
                <small><b>Category:</b> <a href="{{ path('category_show', {'id': article.category.id }) }}">{{ article.category.name }}</a>
                    {% if article.tags|length >= 1 %}
                        -
                        <b>Tags:</b>
                        {% for tag in article.tags %}
                            <a href="{{ path('tag_show', {'id': tag.id }) }}">{{ tag.name }}</a>{{ loop|last ? "" : ", " }}
                        {% endfor %}
                    {% endif %}
                </small>
                <p style="margin-top: 0;">{{ article.content }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h1>No article in the database</h1>
    {% endif %}
{% endblock %}